---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About Repliba'>
  <article class='container'>
    <div class='mb-16'>
      <h1>Meta Quest</h1>
      <p>
        In practice, the Meta Quest Pro seems a bit like a very sophisticated
        development kit, more geared toward testing next-gen technology than
        filling specific needs. Maybe I’ll feel differently when the headset
        ships on October 25th. But it’s not clear how strong a case Meta will
        make for a $1,500 device whose pragmatic benefits for many businesses
        remain debatable. And there’s one major downgrade from the Quest 2: a
        hit to battery life that could make the Quest Pro less attractive for
        some of the customers it’s meant to reach.
      </p>
    </div>

    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1>Meta vs The world...</h1>
      <p>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
  </article>
</Layout>

<style lang='scss'>
  .container {
    width: 100%;
    position: relative;
    margin: 48px auto 0 auto;
    padding: var(--px);
    max-width: 50rem;

    .mb-16 {
      margin-bottom: 1rem;

      & > h1 {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -0.05em;
      }

      p {
        line-height: 1.5;
      }
    }
  }
</style>
