<!-- <Lay title='About'>
  <section class='a-container'>
    <div class='mb-16'>
      <h1 class='a-title'>Meta vs The world...</h1>
      <p class='a-paragraph'>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1 class='a-title'>Meta vs The world...</h1>
      <p class='a-paragraph'>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1 class='a-title'>Meta vs The world...</h1>
      <p class='a-paragraph'>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1 class='a-title'>Meta vs The world...</h1>
      <p class='a-paragraph'>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1 class='a-title'>Meta vs The world...</h1>
      <p class='a-paragraph'>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
    <div class='mb-16'>
      <h1 class='a-title'>Meta vs The world...</h1>
      <p class='a-paragraph'>
        Meta has also replaced its old Touch controllers with a new design. They
        use the same familiar layout, and both the Quest Pro and its controllers
        are backward-compatible with all Quest 2 titles — you can buy a set of
        the controllers for $299 and use them with the Quest 2, too. But they’re
        no longer topped by a thick ring of LEDs. Instead, you’ll find a set of
        outward-facing tracking cameras like those on the headset itself,
        similar to Magic Leap’s latest controllers. This means they won’t lose
        tracking if they slip outside the range of the headset’s cameras. You
        can even hold them upside-down, replace the wrist strap at the bottom
        with a tiny stylus nub, and place them against a hard surface to draw in
        VR with the resistance of a real wall or table. (Incidentally, given all
        the detachable parts I’ve just mentioned, you might want to invest in a
        box for accessories — that stylus is just begging to get lost in a desk
        drawer
      </p>
    </div>
  </section>
</Lay>

<style lang='scss'>
  .a-container {
    width: 100%;
    position: relative;
    margin: 48px auto 0 auto;
    padding: var(--px);
    max-width: 50rem;

    .mb-16 {
      margin-bottom: 1rem;

      .a-title {
        margin-bottom: 10px;
        font-size: 30px;
        letter-spacing: -0.03em;
      }

      .a-paragraph {
        line-height: 1.5;
      }
    }
  }
</style> -->
