---
import '../styles/app.scss';
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Accolades from '../components/Accolades.astro';
---

<Layout title='Repliba'>
  <main class='main'>
    <Home />
    <Accolades />
  </main>
</Layout>

<style lang='scss'>
  .main {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
