---
import Layout from '../layouts/Layout.astro';
import Grow from '../components/grow.astro';
import Content from '../components/content.astro';
import HeroImage from '../components/HeroImage.astro';
import jsonData from '../data/index.json';
---

<Layout title="Repliba site">
  <div class="_wrapper">
    <Grow />
    <HeroImage />
    {
      jsonData.map(item => (
        <Content
          subTitle={item.subtitle}
          title={item.title}
          bg={item.bg}
          color={item.color}
        />
      ))
    }
  </div>
</Layout>
