---
const featuresData = [
  { title: 'Awwards', body: 'Site of the day.' },
  {
    title: 'Awwards',
    body: 'Mobile Site of the Week.',
  },
  {
    title: 'Awwards',
    body: 'Site of the Week.',
  },
  {
    title: 'Awwards',
    body: 'Site of the Week.',
    number: 4,
  },
  {
    title: 'Awwards',
    body: 'Site of the Week.',
  },
  {
    title: 'Awwards',
    body: 'Site of the Week.',
    number: 4,
  },
  {
    title: 'Awwards',
    body: 'Site of the Day.',
  },
  {
    title: 'Awwards',
    body: 'Site of the Day.',
  },
  {
    title: 'Awwards',
    body: 'Site of the Day.',
  },
  {
    title: 'Typewolf',
    body: 'Feature',
  },
  {
    title: 'Typewolf',
    body: 'Feature',
  },
  {
    title: 'Typewolf',
    body: 'Feature',
  },
];
---

<div class='container'>
  <div class='flex'>
    <div class='left'>
      <div class='left_content'>
        <p>
          To collaborate on a project, please feel free to shoot an email or
          reach out on any of the platforms below. In the interest of
          transparency, my typical lead time for taking on new work is 6 weeks.
        </p>
      </div>
    </div>
    <div class='right'>
      {
        featuresData.map((item) => (
          <ul class='list'>
            <li class='list-item'>
              <span class='kern-none'>{item.title}</span>
              <span class='kern-none'>{item.body}</span>
            </li>
          </ul>
        ))
      }
    </div>
  </div>
</div>

<style lang='scss'>
  .container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: var(--px);
    padding-left: var(--px);
  }

  .left {
    order: 1;
    display: flex;
    align-items: flex-end;
    width: 30%;

    .left_content {
      margin-top: auto;

      p {
        font-size: 18px;
        letter-spacing: -0.023775610494210232em;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }

  .right {
    width: 60%;
    margin-left: auto;
    order: 2;

    .list {
      position: relative;
      overflow: hidden;
      width: 100%;

      .list-item {
        display: flex;
        justify-content: space-between;
        padding: 1em 0;
        border-top: 1px solid var(--border-color);

        & > span {
          display: inline-block;
          font-size: 22px;
        }
      }
    }
  }
</style>

<script>
  import { animate, stagger, inView } from 'motion';

  const listSections = document.querySelectorAll('.list');

  inView(listSections, ({ target }) => {
    animate(
      target.querySelectorAll('.list-item'),
      { y: ['120%', 0], opacity: [0, 1] },
      {
        duration: 1.5,
        delay: stagger(1),
        easing: [0.16, 1, 0.3, 1],
      }
    );
  });
</script>
