<section class='a-wrapper'>
  <article class='a-container flex ai jc'>
    <div class='a-logo'>
      <svg
        width='762'
        height='109'
        viewBox='0 0 762 109'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          pathLength='1'
          d='M77.0264 108L47.9264 63.3001C63.8264 59.8501 72.2264 49.0501 72.2264 33.1501C72.2264 13.8001 59.4764 1.20006 36.9764 1.20006H0.526367V108H20.4764V64.3501H25.7264L54.5264 108H77.0264ZM20.4764 46.2001V19.3501H35.9264C45.8264 19.3501 51.9764 24.1501 51.9764 33.1501C51.9764 42.0001 45.8264 46.2001 35.9264 46.2001H20.4764Z'
        ></path>
        <path
          pathLength='1'
          d='M156.674 108V89.8501H108.074V63.3001H138.074V45.1501H108.074V19.3501H156.674V1.20006H88.124V108H156.674Z'
        ></path>
        <path
          pathLength='1'
          d='M190.105 108V67.2001H206.455C229.105 67.2001 241.705 54.7501 241.705 34.6501C241.705 14.4001 229.105 1.20006 206.455 1.20006H170.155V108H190.105ZM190.105 49.0501V19.3501H205.405C215.455 19.3501 221.455 24.6 221.455 34.6501C221.455 44.4001 215.455 49.0501 205.405 49.0501H190.105Z'
        ></path>
        <path
          pathLength='1'
          d='M332.495 108L303.395 63.3001C319.295 59.8501 327.695 49.0501 327.695 33.1501C327.695 13.8001 314.945 1.20006 292.445 1.20006H255.995V108H275.945V64.3501H281.195L309.995 108H332.495ZM275.945 46.2001V19.3501H291.395C301.295 19.3501 307.445 24.1501 307.445 33.1501C307.445 42.0001 301.295 46.2001 291.395 46.2001H275.945Z'
        ></path>
        <path
          pathLength='1'
          d='M412.143 108V89.8501H363.543V63.3001H393.543V45.1501H363.543V19.3501H412.143V1.20006H343.593V108H412.143Z'
        ></path>
        <path
          pathLength='1'
          d='M491.474 34.2001C491.474 12.9001 478.274 0.300049 458.474 0.300049C439.574 0.300049 424.124 11.8501 424.124 31.6501C424.124 46.0501 432.374 53.5501 445.274 58.6501L459.224 64.2001C467.624 67.5001 474.674 70.2001 474.674 78.3001C474.674 87.3001 466.274 90.6001 458.624 90.6001C446.774 90.6001 440.624 82.5001 439.124 68.8501L421.124 72.7501C421.124 95.2501 436.874 108.9 458.924 108.9C478.874 108.9 494.924 97.8001 494.924 77.1001C494.924 60.4501 484.424 53.7001 471.974 48.7501L457.124 42.9001C451.274 40.6501 444.224 37.8001 444.224 30.15C444.224 22.5 451.274 18.6001 458.174 18.6001C466.724 18.6001 472.124 24.7501 473.474 38.1001L491.474 34.2001Z'
        ></path>
        <path
          pathLength='1'
          d='M576.938 108V89.8501H528.338V63.3001H558.338V45.1501H528.338V19.3501H576.938V1.20006H508.388V108H576.938Z'
        ></path>
        <path
          pathLength='1'
          d='M672.619 108V1.20006H652.669V70.3501L609.769 1.20006H590.419V108H610.369V38.5501L653.419 108H672.619Z'
        ></path>
        <path
          pathLength='1'
          d='M732.014 108V19.3501H761.714V1.20006H682.364V19.3501H712.064V108H732.014Z'
        ></path>
      </svg>
    </div>
  </article>
</section>

<style lang='scss'>
  .a-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    will-change: transform;
    background-color: var(--bg);
  }

  .a-container {
    width: 100%;
    height: 70vh;
    position: relative;
    padding: 0 var(--px);
  }

  .a-logo {
    position: relative;
    width: auto;
    z-index: 1;

    & > svg {
      width: 330px;
      height: auto;
    }
  }

  path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 3px;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    visibility: hidden;
  }
</style>

<script>
  import { stagger, timeline } from 'motion';

  const draw = (progress) => ({
    strokeDashoffset: 1 - progress,
    visibility: 'visible',
    opacity: [0, 1],
  });

  timeline([['path', draw(1), { duration: 1.2, delay: stagger(0.2) }]]);
</script>
