<section class='o-container'>
  <div class='o-header'>
    <div class='o-o flex ai jd'>
      <div class='title'>
        <h1>R-00853669943</h1>
      </div>
    </div>
  </div>

  <article class='o-intro'>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis a
      aperiam sapiente ea ipsam debitis dolorum error eligendi doloremque, illum
      eum neque mollitia tempore nesciunt quaerat. Repudiandae maxime labore
      accusantium, cum similique alias perferendis ab id voluptate quas repellat
      sapiente accusamus ex, illum voluptas consequatur molestias. Tenetur quo
      nostrum vero, corporis dolorem laborum. Fuga fugiat in consequuntur!
      Nesciunt, soluta recusandae! Ex blanditiis quo alias ipsa non accusantium
      beatae fuga cupiditate dolore obcaecati vel, possimus itaque qui repellat
      dolorum et aperiam. Consectetur ipsa perferendis beatae minima, qui minus
      assumenda corrupti fuga a aperiam earum, impedit voluptas eaque dolor
      error nisi esse quis sed. Id, nesciunt dignissimos impedit, et aliquam
      delectus earum quod dolore qui asperiores, sit vero odit consequuntur
      veniam deserunt deleniti harum magnam iusto tempora facilis est doloremque
      accusantium eius possimus? Impedit ab veritatis consequatur illum
      aspernatur, nobis explicabo iure ut excepturi, dolorum iusto! Excepturi
      iure rem voluptatum doloribus necessitatibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis a
      aperiam sapiente ea ipsam debitis dolorum error eligendi doloremque, illum
      eum neque mollitia tempore nesciunt quaerat. Repudiandae maxime labore
      accusantium, cum similique alias perferendis ab id voluptate quas repellat
      sapiente accusamus ex, illum voluptas consequatur molestias. Tenetur quo
      nostrum vero, corporis dolorem laborum. Fuga fugiat in consequuntur!
      Nesciunt, soluta recusandae! Ex blanditiis quo alias ipsa non accusantium
      beatae fuga cupiditate dolore obcaecati vel, possimus itaque qui repellat
      dolorum et aperiam. Consectetur ipsa perferendis beatae minima, qui minus
      assumenda corrupti fuga a aperiam earum, impedit voluptas eaque dolor
      error nisi esse quis sed. Id, nesciunt dignissimos impedit, et aliquam
      delectus earum quod dolore qui asperiores, sit vero odit consequuntur
      veniam deserunt deleniti harum magnam iusto tempora facilis est doloremque
      accusantium eius possimus? Impedit ab veritatis consequatur illum
      aspernatur, nobis explicabo iure ut excepturi, dolorum iusto! Excepturi
      iure rem voluptatum doloribus necessitatibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis a
      aperiam sapiente ea ipsam debitis dolorum error eligendi doloremque, illum
      eum neque mollitia tempore nesciunt quaerat. Repudiandae maxime labore
      accusantium, cum similique alias perferendis ab id voluptate quas repellat
      sapiente accusamus ex, illum voluptas consequatur molestias. Tenetur quo
      nostrum vero, corporis dolorem laborum. Fuga fugiat in consequuntur!
      Nesciunt, soluta recusandae! Ex blanditiis quo alias ipsa non accusantium
      beatae fuga cupiditate dolore obcaecati vel, possimus itaque qui repellat
      dolorum et aperiam. Consectetur ipsa perferendis beatae minima, qui minus
      assumenda corrupti fuga a aperiam earum, impedit voluptas eaque dolor
      error nisi esse quis sed. Id, nesciunt dignissimos impedit, et aliquam
      delectus earum quod dolore qui asperiores, sit vero odit consequuntur
      veniam deserunt deleniti harum magnam iusto tempora facilis est doloremque
      accusantium eius possimus? Impedit ab veritatis consequatur illum
      aspernatur, nobis explicabo iure ut excepturi, dolorum iusto! Excepturi
      iure rem voluptatum doloribus necessitatibus!
    </p>
  </article>
</section>

<style lang='scss'>
  .o-container {
    position: relative;
    z-index: 2;
    width: 100%;
    will-change: transform;
    margin-bottom: -2px;
    background-color: whitesmoke;
  }

  .o-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;
    background-color: whitesmoke;

    .o-o {
      padding: 0 var(--px);

      .title {
        padding: 15.2px 0;

        & > h1 {
          font-size: 40px;
          letter-spacing: -0.055em;
          margin: 0;
        }
      }
    }
  }

  .o-intro {
    width: 100%;
    min-height: 100vh;
    max-width: 50rem;
    margin: 2rem auto;

    p {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 1em;
    }
  }
</style>
