<!-- <footer class='root'>
  <div class='footer_grid'>
    <div class='footer_item left'>

      <ul>
        <span class='footer_item_header'>Some title</span>
        <li class='left_menu-item'>One</li>
        <li class='left_menu-item'>Two</li>
        <li class='left_menu-item'>Three</li>
        <li class='left_menu-item'>Four</li>
        <li class='left_menu-item'>Five</li>
      </ul>
    </div>

    <div class='footer_item middle'>
      <ul>
        <span class='footer_item_header'>Some title</span>
        <li class='middle_menu-item'>Purple</li>
        <li class='middle_menu-item'>Orange</li>
        <li class='middle_menu-item'>Black</li>
        <li class='middle_menu-item'>White</li>
        <li class='middle_menu-item'>Cannabis</li>
      </ul>
    </div>

    <div class='footer_item right'>
      <ul>
        <span class='footer_item_header'>Some title</span>
        <li class='right_menu-item'>Indigo</li>
        <li class='right_menu-item'>Masala</li>
        <li class='right_menu-item'>Ketchup</li>
        <li class='right_menu-item'>Brown</li>
        <li class='right_menu-item'>Red</li>
      </ul>
    </div>
  </div>

  <div class='footer_bottom'>
    <div class='bottom_left'></div>
    <div class='bottom_middle'></div>
    <div class='bottom_right'></div>
  </div>
</footer>

<style style='scss'>
  .root {
    --grid-desktop-horizontal-spacin: 1rem;
    --grid-desktop-vertical-spacing: 1rem;

    position: relative;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    margin: 0 3rem;
  }

  .footer_grid {
    --min: 10ch;
    --gap: 1rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    padding: 0;
    list-style: none;
  }

  .footer_grid > * {
    flex: 1 1 var(--min);
    border-right: 1px solid red;
    padding: 3rem;
  }

  .footer_grid > *:last-child {
    border-right: 0px solid red;
  }

  .footer_item_header {
    display: block;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .footer_grid ul > li {
    margin-bottom: 1em;
  }
</style> -->
