<header class='container'>
  <div class='inner'>
    <nav class='nav_left'>
      <div class='navMenu'>
        <a href='/about' aria-label='About'> About</a>
        <a href='/' aria-label='Services'> Services</a>
        <a href='/' aria-label='Contact'> Contact</a>
      </div>
    </nav>

    <div class='logo_container'>
      <a href='/' class='logo' aria-label='Logo'>
        <span>handshake</span>
      </a>
    </div>

    <nav class='userNav_Box'>
      <div class='userNav_Box_Inner'>
        <a href='/' aria-label='Instagram'>
          <span>Instagram</span>
        </a>

        <a href='/' aria-label='LinkedIn'>
          <span>LinkedIn</span>
        </a>

        <a href='/' aria-label='Twitter'>
          <span>Twitter</span>
        </a>
      </div>
    </nav>
  </div>
</header>

<style lang='scss'>
  .container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    overflow: hidden;
    height: 43px;
  }

  .inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--px);
    text-transform: uppercase;
    font-size: 13px;

    .nav_left {
      flex: 1 1 0%;
    }

    .navMenu {
      display: none;

      & > * + * {
        position: relative;
        margin-left: 1.5rem;
      }

      @media (min-width: 1024px) {
        display: inline-flex;
      }
    }

    .nav_link {
      display: inline-flex;
      align-items: center;
    }

    .logo_container {
      display: flex;
      align-items: center;
    }

    .logo {
      cursor: pointer;
      transition: transform 200ms ease-in-out;
      font-weight: 600;
    }

    .userNav_Box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1 1 0%;

      & > * + * {
        margin-top: 0rem;
      }
    }

    .userNav_Box_Inner {
      display: none;

      & > * + * {
        position: relative;
        margin-left: 1.5rem;
      }

      @media (min-width: 1024px) {
        display: inline-flex;
      }
    }
  }
</style>
