<div class="h__container">
  <div class="h__logo">
    <h1 class="mask">
      <span class="block flip">Ambacka -</span>
      <span class="block flip">a creative studio</span>
    </h1>
  </div>

  <div class="h__content">
    <div class="mask">
      <h2 class="flip">Site in Development - Launching Soon</h2>
    </div>

    <div class="relative top-16">
      <div class="mask spacing">
        <h3 class="flip">Creative Design</h3>
      </div>
      <div class="mask spacing">
        <h3 class="flip">Interface Design</h3>
      </div>
      <div class="mask spacing">
        <h3 class="flip">Interaction + Development</h3>
      </div>
      <div class="mask spacing">
        <h3 class="flip">Front + Backend Development</h3>
      </div>
    </div>

    <div class="mask">
      <h4 class="top-16 flip">Clients projects</h4>
    </div>

    <div class="flex flex-column relative top-16 socials">
      <a
        href="https://www.kikin.io/"
        target="_blank"
        class="mask link link--metis"
      >
        <span class="block flip">Kikin Finance {' '} &rarr;</span>
      </a>

      <a
        href="https://dermata.vercel.app/"
        target="_blank"
        class="mask link link--metis"
      >
        <span class="block flip">Dermata {' '} &rarr;</span>
      </a>

      <a
        href="https://www.commune.cc/"
        target="_blank"
        class="mask link link--metis"
      >
        <span class="block flip">Commune {' '} &rarr;</span>
      </a>
    </div>

    <div class="h__time overflow-hidden">
      <h1 id="time" class="flip"></h1>
    </div>
  </div>
</div>

<style lang="scss">
  .h__container {
    position: relative;
    letter-spacing: -0.015em;
  }

  .spacing {
    margin-bottom: 0.5em;
  }

  .top-16 {
    margin-top: 2em;
  }

  .socials {
    & > a {
      margin-right: 0;
      margin-bottom: 0.4em;

      &:not(:last-child) {
        margin-right: 0.3em;
      }
    }
  }

  .mask {
    position: relative;
    overflow: hidden;
  }

  .h__content {
    padding-top: 9rem;
    padding-left: 1rem;

    @media (min-width: 768px) {
      margin-left: 50%;
      padding-top: 0.75rem;
      padding-left: 0;
    }
  }

  .h__time {
    position: absolute;
    top: 0.75rem;
    right: 1rem;

    @media (min-width: 768px) {
      right: 2.5em;
    }
  }

  .h__logo {
    position: absolute;
    top: 0.75rem;
    left: 1rem;

    @media (min-width: 768px) {
      left: 2.5em;
    }

    & > h1 {
      & > span {
        display: inline-block;
        text-transform: uppercase;

        &:last-child {
          text-transform: capitalize;
        }
      }
    }
  }
</style>

<script>
  const timezone = new Date().toLocaleTimeString();
  document.getElementById('time').innerHTML = timezone;
</script>
