<div class='h__container'>
  <div class='h__logo'>
    <h1 class='h__cover'>
      <span class='block h__logo__item'>Ambacka -</span> a creative studio
    </h1>
  </div>

  <div class='h__time'>
    <h1 id='time'></h1>
  </div>

  <div class='h__content'>
    <div class='h__cover'>
      <h2 class='h__sd'>Site in Development</h2>
    </div>

    <div class='relative top-16'>
      <div class='h__cover'>
        <h3 class='list__item'>Creative Design</h3>
      </div>
      <div class='h__cover'>
        <h3 class='list__item'>Interface Design</h3>
      </div>
      <div class='h__cover'>
        <h3 class='list__item'>Interaction + Development</h3>
      </div>
      <div class='h__cover'>
        <h3 class='list__item'>Front + Backend Development</h3>
      </div>
    </div>

    <div class='h__cover'>
      <h4 class='top-16 h__ls'>Launching Soon</h4>
    </div>

    <div class='relative top-16 flex align-items socials'>
      <a href='/' class='h__cover'>
        <span class='block social__links'>Instagram,</span>
      </a>

      <a href='/' class='h__cover'>
        <span class='block social__links'>Twitter,</span>
      </a>

      <a href='/' class='h__cover'>
        <span class='block social__links'>Facebook</span>
      </a>
    </div>
  </div>
</div>

<style lang='scss'>
  .h__container {
    position: relative;
    letter-spacing: -0.011em;
  }

  .socials {
    & > a {
      margin-right: 0;

      &:not(:last-child) {
        margin-right: 0.3em;
      }
    }
  }

  svg {
    display: block;
    margin-top: 0.215em;
    margin-left: 0.3em;
  }

  .top-16 {
    margin-top: 2em;
  }

  .h__cover {
    position: relative;
    overflow: hidden;
  }

  .h__content {
    padding-top: 9rem;
    padding-left: 1rem;

    @media (min-width: 768px) {
      margin-left: 50%;
      padding-top: 0.75rem;
      padding-left: 0;
    }
  }

  .h__time {
    position: absolute;
    top: 0.75rem;
    right: 1rem;

    @media (min-width: 768px) {
      right: 2.5em;
    }
  }

  .h__logo {
    position: absolute;
    top: 0.75rem;
    left: 1rem;

    @media (min-width: 768px) {
      left: 2.5em;
    }

    & > h1 {
      text-transform: capitalize;

      & > span {
        display: inline-block;
        text-transform: uppercase;
      }
    }
  }
</style>

<script>
  const timezone = new Date().toLocaleTimeString();
  document.getElementById('time').innerHTML = timezone;
</script>
