<div class='root'>
  <section class='container'>
    <!-- <div class='progress-bar'></div> -->
    <div class='f_dummy'>
      <div class='flex ai jc'>
        <div class='relative ss'>
          <h1 id='title' class='title'>Rëpliba</h1>
          <div class='line-border'></div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class='dummy'>
  <div class='relative box'>
    <h1 class='dummy_title'>
      <div id='Dtitle' class='parent_line'>
        Work-life balance really means something in Sweden. You’ll never be
        short of time – or opportunity – to enjoy your new home away from home
        with culture around the corner and freedom to roam a wilderness unlike
        anywhere else.
      </div>
    </h1>
  </div>
</div>

<style lang='scss'>
  .root {
    --vh: 100vh;
    display: flex;
    align-items: center;
    position: relative;
  }

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    transform: scaleX(0);
    transform-origin: 0%;
    z-index: 100;
  }

  .line-border {
    height: 1px;
    transform: scaleX(0);
    transform-origin: 0%;
    background-color: var(--border-color);
  }

  .container {
    width: 100%;
    position: relative;
    border: 1px solid var(--border-color);
    border-bottom: 0px solid var(--border-color);
    min-height: calc(var(--vh) - 2rem);
  }

  .f_dummy {
    position: relative;
    border-bottom: 1px solid var(--border-color);
    height: 100vh;
    min-height: 100vh;

    .title {
      font-size: 33vw;
      font-weight: 400;
      font-family: system-ui;
      user-select: none;
      pointer-events: none;
      white-space: nowrap;
      transform: translateZ(0);
      letter-spacing: -0.0485em;
      font-kerning: none;
      margin-left: -0.05em;

      @media (min-width: 768px) {
        font-size: 33vw;
      }

      @media (min-width: 1025px) {
        font-size: 34vw;
      }
    }
  }

  .dummy {
    display: flex;
    height: 100%;
    min-height: 70vh;
    padding: 3em var(--px);

    #Dtitle {
      font-kerning: none;
    }

    .box {
      max-width: 25ch;
      width: 25ch;

      .dummy_title {
        font-weight: 430;
        letter-spacing: -0.025em;
        margin-bottom: 2em;

        .parent_line {
          display: block;
          text-align: start;
          position: relative;
          overflow: hidden;
          font-kerning: none;
        }
      }
    }
  }
</style>

<script>
  import { animate, stagger, inView, timeline } from 'motion';
  import SplitType from 'split-type';

  //split words
  const myTitle = new SplitType('#title', { types: 'words, chars' });
  const boxTitles = new SplitType('#Dtitle', { types: 'lines' });
  const sections = document.querySelectorAll('.dummy');

  // const pos = document.querySelector('.logo');

  timeline([
    [
      myTitle.chars,
      { x: ['0%', '0%'], opacity: [0, 1], willChange: 'transform' },
      {
        duration: 1,
        delay: stagger(0.1, { from: 'first' }),
        easing: [0.65, 0, 0.35, 1],
      },
    ],
    [
      '.line-border',
      { scaleX: [0, 1] },
      { at: '<', duration: 1.35, easing: [0.65, 0, 0.35, 1] },
    ],
  ]);

  inView(
    sections,
    () => {
      animate(
        boxTitles.lines,
        {
          y: ['110%', '0%'],
          opacity: [0, 1],
          willChange: 'transform',
        },
        {
          duration: 1.1,
          delay: stagger(0.065),
        }
      );
    },
    {
      amount: 0.1,
    }
  );
</script>
