<header class='root'>
  <div class='container'>
    <div class='logo'>Studio Represent</div>
    <nav class='wrapper'>
      <ul class='list'>
        <li class='list-item'>
          <a class='link link--metis' href='/about'>About</a>
        </li>
        <li class='list-item'>
          <a class='link link--metis'>Studio</a>
        </li>
        <li class='list-item'>
          <a class='link link--metis'>Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style lang='scss'>
  .root {
    width: 100%;
    position: fixed;
    top: 30px;
    left: 0px;
    z-index: 100;
    mix-blend-mode: difference;
    color: #fff;
  }

  .container {
    position: relative;
    padding: 0 var(--px);

    .logo {
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-weight: 700;
    }

    .list-item {
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 0.2rem;
    }
  }
</style>
