<header class='header'>
  <div class='header_container'>
    <nav class='header_navigation'>
      <button class='mobile-toggle mobile_btn'>menu</button>

      <div class='menu-container'>
        <ul class='menu'>
          <li class='menu-item'><a href='#'>Menu item 1</a></li>
          <li class='menu-item'><a href='#'>Menu item 2</a></li>
          <li class='menu-item'><a href='#'>Menu item 3</a></li>
        </ul>
      </div>

      <div class='logo'>
        <a href='#'><img src='/assets/bc.svg' alt='Logo' /></a>
      </div>

      <div class='button'>
        <a href='#' class='header_btn btn'>start</a>
      </div>
    </nav>
  </div>
</header>

<style lang='scss'>
  .header {
    position: relative;
    z-index: 999;
    background-color: var(--bg);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
    transition: background 0.3s;
    min-height: 70px;

    &.open {
      background-color: #fc81b4;
    }
  }

  .header_container {
    max-width: calc(1500px + 30px * 2);
    padding: 13px 1rem;
    margin: auto;
    width: 100%;
  }

  .header_navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .mobile-toggle {
      flex: 1;
    }

    .mobile_btn {
    }

    .logo {
      flex: 0 auto;
      line-height: 0;

      img {
        height: 30px;
      }
    }

    .button {
      display: flex;
      justify-content: flex-end;
      flex: 1;

      .header_btn {
        color: var(--bg);
        background: rgb(242, 15, 15);
        padding: 0 10px;

        &.open {
          color: #000;
          background-color: rgba(253, 234, 62, 1);
        }
      }
    }

    .menu-container {
      position: fixed;
      top: 70px;
      left: 0px;
      bottom: 0px;
      width: 100%;
      overflow: hidden;

      .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
        background: #fc81b4;
        height: 100vh;
        will-change: transform;

        .menu-item {
          display: block;
          width: 100%;
          padding: 20px;
          text-align: center;
        }
      }
    }

    .menu-container.open .menu {
      opacity: 1;
    }
  }
</style>

<script>
  const menuButton = document.querySelector('.mobile-toggle');
  const menuContainer = document.querySelector('.menu-container');
  const header = document.querySelector('.header');
  const header_btn = document.querySelector('.header_btn');

  menuButton.addEventListener('click', () => {
    menuContainer.classList.toggle('open');
    header.classList.toggle('open');
    header_btn.classList.toggle('open');
  });
</script>
