---
import Header from '../components/Header.astro';
import '../styles/app.scss';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link
      rel='preload'
      href='/public/fonts/Inter.var.woff2'
      as='font'
      type='font/woff2'
      crossorigin
    />
    <title>{title}</title>
  </head>
  <body>
    <div class='_root'>
      <main class='_main'>
        <slot />
      </main>
    </div>

    <style is:global>
      ._root {
        position: relative;
        margin: 0 auto;
        max-width: 2460px;
      }

      ._main {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        flex-direction: column;
        min-height: 100vh;
      }
    </style>

    <script>
      import Lenis from '@studio-freight/lenis';
      import { animate, scroll } from 'motion';

      const lenis = new Lenis({
        duration: 1.2,
        easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)), // https://www.desmos.com/calculator/brs54l4xou
        direction: 'vertical', // vertical, horizontal
        gestureDirection: 'vertical', // vertical, horizontal, both
        smooth: true,
        smoothTouch: false,
        touchMultiplier: 2,
        infinite: false,
      });

      //get scroll value
      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      function headerAni() {
        const container = document.querySelector('.inner');
        scroll(animate(container, { y: ['0%', '100%'] }, { duration: 0.1 }));
      }

      requestAnimationFrame(raf);
    </script>
  </body>
</html>
