@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: optional;
  font-style: normal;
  src: url('/fonts/Inter.var.woff2') format('woff2');
}
:root {
--px: 1.5rem;
--py: 1.5rem;
--accent: 124, 58, 237;
--bg: rgb(0, 2, 18);
--fg: hsl(56, 3.7%, 17.4%);
--text-color: rgba(255, 255, 255, 0.85);
--border-color: rgba(255, 255, 255, 0.3);
--ls: -0.09em;
--duration: 0.5s;


--font: "Inter var", sans-serif;

--size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
--size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
--size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
--size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
--size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
--size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
--size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
--size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
--size-2000: clamp(16.01rem, 16.12rem + 16.1vw, 16.28rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

html {
  font-family: var(--font);
  scroll-behavior: initial;
  @supports (font-variation-settings: normal) {
html {  font-family: var(--font); }
    }
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--bg);
  font-size: var(--size-400);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p{
  font-feature-settings: "salt";
}

.w-full {
  width: 100%;
}

.kern-none {
  font-kerning: none !important;
  text-rendering: optimizeSpeed;
  transform: translateZ(0);
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.flex {
  display: flex;

  &.gap {
    gap: 2em;
  }

  &.ai {
    align-items: center;
  }

  &.jc {
    justify-content: center;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.space-between {
    justify-content: space-between;
  }
}

   